.main-episode__image-wrapper {
    position: relative;
    width: 100%;
}

.main-episode__image {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9.5;
    object-fit: cover;
    filter: saturate(0.95);
}

.main-episode__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-episode__number {
    font-size: clamp(0.625rem, 3vw, 0.75rem);
    font-weight: 500;
    color: hsl(0, 0%, 70%);
    margin-top: 0.75rem;
    margin-bottom: 0.125rem;
}

.main-episode__title {
    all: unset;
    font-size: clamp(0.75rem, 3vw, 0.875rem);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.main-episode__button-wrapper {
    display: flex;
    align-items: center;
    gap: 0.325rem;
}

.main-episode__meta-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.main-episode__description {
    all: unset;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-size: clamp(0.75rem, 3vw, 0.875rem);
    color: hsl(0, 0%, 70%);
    text-align: left;
    margin-bottom: 0.325rem;
    user-select: text;
    -webkit-user-select: text;    
    cursor: pointer;
}

.main-episode__meta {
    display: flex;
    font-size: clamp(0.625rem, 3vw, 0.75rem);
    font-weight: 600;
    color: hsl(0, 0%, 50%);
    gap: clamp(0.125rem, 5vw, 0.325rem);
}

.main-episode__metatag {
    font-size: clamp(0.625rem, 3vw, 0.75rem);
    font-weight: 700;
    border-radius: 2px;
    border: 1px solid hsl(0, 0%, 65%);
    background: hsl(0 0% 65%);
    padding: 0 2px;

    &.bg {
        color: var(--dark-ultra);
    }

    &.no-bg {
        color: hsl(0, 0%, 65%);
        background: transparent;
    }

    &.hidden {
        display: none;
    }
}

.rating__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: hsl(0 0% 95%);
}

.rating__value {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.rating__max {
    font-size: 0.625rem;
    font-weight: 500;
}

.info__container {
    margin: 0;
}

.info__title {
    font-size: clamp(0.675rem, 3vw, 0.75rem);
    color: hsl(0, 0%, 70%);
    margin-top: 0.5rem;
    margin-bottom: 0.125rem;
}

.info__description {
    font-size: clamp(0.675rem, 3vw, 0.75rem);
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

@media (min-width: 560px) {
	
	#video {
	aspect-ratio: 16 / 7.5;
	}
.main-episode__image {
	aspect-ratio: 16 / 7.5;
	}
	
	        .player__button {
            border-radius: 50%;
            backdrop-filter: brightness(0.9) saturate(0.9) contrast(1.2) blur(8px);
            box-shadow:
               1px 1px hsl(0 0% 100% / 0.25) inset,
               -1px -1px hsl(0 0% 100% / 0.15) inset;

            }
}