@font-face {
   font-family: "Inter";
   src: url("../assets/fonts/InterVariable.woff2") format("woff2");
   font-display: swap;
   font-weight: 400 800;
   font-style: normal;
}

:root {
    --dark-ultra: hsl(0 0% 10%);
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    text-rendering: optimizelegibility;
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    background: var(--dark-ultra);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
}

*,
*::before,
*::after {
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

::selection,
-moz-selection {
    background-color: rgba(46, 102, 246, 0.5);
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 0.75rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-5 { margin-bottom: 1.25rem; }
.mb-6 { margin-bottom: 1.5rem; }
.mb-8 { margin-bottom: 2rem; }
.mb-10 { margin-bottom: 2.5rem; }
.mb-12 { margin-bottom: 3rem; }